/*
    * If anyone want to use this code, please create a .env file in the root directory and add the following lines with your own credentials.
    * OXYLABS_USERNAME="FIND FROM OXYLABS WEBSITE DASHBOARD"
    * OXYLABS_PASSWORD="FIND FROM OXYLABS WEBSITE DASHBOARD"
    * OPENAI_API_KEY="FIND FROM OPENAI WEBSITE DASHBOARD"
    * Please do not share your .env file with anyone, as it contains sensitive information.
    * If you want to use the example .env file, please rename it to .env and add your credentials there.
*/